/build/
/.nb-gradle/private/
/.gradle/1.11/taskArtifacts/outputFileStates.bin
/.gradle/1.11/taskArtifacts/cache.properties
/.gradle/1.11/taskArtifacts/fileSnapshots.bin
/.gradle/1.11/taskArtifacts/cache.properties.lock
/.gradle/1.11/taskArtifacts/fileHashes.bin
/.gradle/1.11/taskArtifacts/taskArtifacts.bin
/.gradle/2.0/taskArtifacts/cache.properties
/.gradle/2.0/taskArtifacts/fileSnapshots.bin
/.gradle/2.0/taskArtifacts/fileHashes.bin
/.gradle/2.0/taskArtifacts/outputFileStates.bin
/.gradle/2.0/taskArtifacts/taskArtifacts.bin
/.gradle/2.0/taskArtifacts/cache.properties.lock